*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: white;
  position: relative;
}

.logo {
  position: fixed;
  left: 0;
  height: 672px;
/*   background-color: white; */
  display: inline-block;

}

img {
  margin-top: 186px;
  margin-bottom: 186px;
  height: 300px;
  width: 300px;
  margin-left: -92px;
}
.coming-soon {
  display: inline-block;
  height: 100%;
  width: 100%;

}

#coming-soon {
  font-family: "Lato", sans-serif;
  margin: 323.5px auto;
  vertical-align: middle;
  text-align: center;
}
