@import 'bourbon/bourbon';
@import 'neat/neat';



/* Colors =================================================================== */

$oxford-blue: #101010;
$background-color: $oxford-blue;

$sea-shell: #FDF6EE;
$body-color: $sea-shell;

/* Fonts ==================================================================== */

$logo-font: 'Roboto', sans-serif;

$body-font: 'Lato', sans-serif;


/* Sizing =================================================================== */

$container-width: 100%;
$container-height: 100%;

$font-size: 30px;
$font-weight: 100;

/* Layout and Styling ======================================================= */

body {
  width: 100%;
  height: 100%;
  background-color: $background-color;
  position: relative;
}

.container {
/*   position: relative; */
  height: $container-height;
  width: $container-width;
  color: $body-color;
  padding-top: 250px;

  .logo {
    display: inline-block;
    margin: 0 auto;
    width: 10%;
    position: relative;
    vertical-align: middle;
    border: $body-color solid 1px;
    padding-top: 70px;
    padding-right: 70px;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $logo-font;


    p {
      margin: 0;
      letter-spacing: -2px;
    }
  }

  .coming-soon {
    display: inline-block;
    font-family: $body-font;
    font-weight: 100;
    margin-left: 20%;
    vertical-align: middle;
    font-size: 60px;
  }

  .subscribe {
    display: block;
    text-align: center;
    font-family: $body-font;
    font-weight: 100;

    input {
      border: $body-color solid 1px;
      background-color: $background-color;
    }

    p {
      margin: 0
    }

    &:hover {

    }

  }
}
